[submodule "lib/pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "lib/unittest-cpp"]
	path = lib/unittest-cpp
	url = https://github.com/unittest-cpp/unittest-cpp.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://github.com/RLovelett/eigen
